ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d8690b;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f4ece6;
  text-align: center;
  padding-top: 26px;
  padding-left: 40px;
  text-decoration: none;
}

li p {
  display: block;
  color: #f4ece6;
  text-align: center;
  padding-left: 28px;
  padding-top: 26px;
  padding-bottom: 10px;
  text-decoration: none;
}